.tracks {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color_default_background);
  z-index: 10;
  border-radius: 10px;
  direction: rtl;
}

.tracks-heading {
  display: flex;
  flex-direction: row;
}

.tracks-heading > h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.close-btn {
  border: none;
  background: none;
  padding: 0;
}
