.splash-screen {
  width: 100vw;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
  background: var(--white);
}
.university-logo svg {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.uninav-logo svg {
  position: absolute;
  bottom: 0;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
