.menu {
  position: absolute;
  height: 56px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: var(--white);
  z-index: 10;
  flex-direction: row;
  grid-gap: 0px 1rem;
  column-gap: 0px 1rem;
  align-items: center;
  display: grid;
  justify-items: center;
  padding: 0 1rem 0 1rem;
  border-top-style: solid;
  border-top-color: var(--grey_4);
  border-top-width: 1px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50fr 1fr;
}

.menu-btn {
  border: none;
  align-items: center;
  justify-content: center;
  background: none;
  height: 40px;
  outline: 0;
  cursor: pointer;
}

.menu-btn-title {
  display: block;
  font-size: 0.67em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;

  /* Assistent/utility/overline */
  font-family: Assistant;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 11px;
  /* identical to box height, or 110% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  /* color/grey/grey_3 */
  color: var(--grey_3);
}

.scan-menu-btn {
  justify-self: center;
  grid-area: 1 / 1 / 2 / 2;
}
.route-menu-btn {
  grid-area: 1 / 2 / 2 / 3;

  justify-self: center;
}
.pois-menu-btn {
  justify-self: center;
  grid-area: 1 / 4 / 2 / 5;
}

.scan-menu-tab {
  justify-self: center;
  grid-area: 2 / 1 / 3 / 2;
}
.route-menu-tab {
  justify-self: center;
  grid-area: 2 / 2 / 3 / 3;
}

.menu-tab {
  position: absolute;
  width: 39px;
  height: 3px;
  bottom: 0px;
  background: var(--turquoise);
  border-radius: 3px;
}
