.leaflet-popup-content-wrapper {
  padding: 0;
  text-align: right;
}
.leaflet-popup-content {
  margin: 0;
  width: 40vw;
  height: 40vh;
}
.poi-img {
  width: 100%;
  display: block;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  height: 20vh;
}

.poi-hr {
  margin: 0px;
  padding: 0;
}
.poi-img-hr-top {
  opacity: 0.1;
  border-top: 1px solid rgba(5, 16, 24, 0.1);
  border-bottom: 1px solid rgba(5, 16, 24, 0.2);
  border-width: 0;
}

.leaflet-container a.leaflet-popup-close-button {
  background: rgba(50, 67, 78, 0.2);
  background: #c3c3c3;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  color: #fff;
  margin: 4px 0 0 4px;
  padding: 2px;
  left: 0;
}

.poi-type {
  margin: 0.5em 1em 0.5em 0em;
}

.poi-hr-desc {
  display: inline;
  margin: 0 1em 0 0;
  border: 1px solid rgb(5, 16, 24);
  background: rgb(5, 16, 24);
}

.poi-name {
  margin: 0 0.65em 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #24323b;
}
.poi-desc {
  margin: 0 0.6em 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #24323b;
}

.poi-content {
  display: flex;
  flex-direction: row;
  direction: rtl;
  margin: 0.5em 0 0 0;
}

.poi-hr-type-area {
  border-color: var(--lemon);
  background: var(--lemon);
}

.poi-hr-type-art {
  border-color: var(--purple);
  background: var(--purple);
}
.poi-hr-type-bench {
  border-color: var(--green);
  background: var(--green);
}
.poi-hr-type-history {
  border-color: var(--blue);
  background: var(--blue);
}
.poi-hr-type-table {
  border-color: var(--orange);
  background: var(--orange);
}
.poi-hr-type-lookout {
  border-color: var(--red);
  background: var(--red);
}
