.track-card {
  width: min(80vw, 80vh);
  width: min(80vw, calc(var(--vh, 1vh) * 80));
  height: min(40vw, 40vh);
  height: min(40vw, calc(var(--vh, 1vh) * 50));
  background: var(--white);
  display: inline-block;
  margin: 10px;
  box-shadow: 0px 3px 5px rgba(5, 16, 24, 0.1);
  border-radius: 12px;
  padding: 20px;
  position: relative;
}

.track-desc {
  font-weight: normal;
  grid-area: desc;
  text-align: start;
  margin: 0;
  align-self: center;
}

.track-length {
  font-weight: normal;
}

.track-tag {
  width: fit-content;
  height: fit-content;
  background: var(--white);
  border: 1px solid var(--color_default_frame);
  border-radius: 12px;
  display: inline-block;
  margin: 2%;
  align-self: end;
}

.track-tag-list-cont {
  align-self: start;
  list-style: none;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  background: var(--color_background_darker);
  display: flex;
  box-shadow: 0 -1px var(--white);
  border-top: 1px solid var(--color_background_darker);
  border-radius: 0 0 12px 12px;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.track-tag-list {
  align-self: start;
  list-style: none;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  display: block;
  background: var(--color_background_darker);
  box-shadow: 0 -1px var(--white);
  border-top: 1px solid var(--color_default_frame);
  border-radius: 0 0 12px 12px;
  text-align: start;
  width: calc(100% - 60px);
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 60px;
}

.track-tag-desc {
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 2px 8px;
}

.track-name {
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: start;
  margin-bottom: 2%;
}

.track-content {
  display: grid;
  width: 90%;
  grid-template-columns: 0.5fr 0.3fr 0.7fr 0.3fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 0px 0px;
  gap: 0px 0px;
  grid-template-areas: "info hr-right len hr-left desc";
  margin: 5% 0;
}

.track-hr-right {
  grid-area: hr-right;
}
.track-hr-left {
  grid-area: hr-left;
}

.track-length-cont {
  grid-area: len;
}

.track-info-btn {
  grid-area: info;
  border: none;
  background: none;
  outline: none;
  justify-self: center;
  align-self: center;
}

.track-start-btn {
  border: none;
  background: none;
  position: absolute;
  height: calc(40% + 20px);
  display: flex;
  bottom: 0;
  left: 3%;
  z-index: 200;
  outline: none;
}
.track-stop-btn {
  border: none;
  background: none;
  position: absolute;
  height: calc(40% + 20px);
  display: flex;
  bottom: 0;
  left: 3%;
  z-index: 200;
  outline: none;
}
.track-length-title {
  margin: 0;
  font-weight: 600;
}
.track-length {
  margin: 0;
}

.track-hr {
  border: 0px solid var(--color_default_frame);
  border-right: 1px solid var(--color_default_frame);
}

.selected-card * {
  color: var(--color_accent_dark);
}
.selected-card .track-hr {
  border-right: 1px solid var(--color_accent_frame);
}
.selected-card .track-tag {
  border: 1px solid var(--color_accent_frame);
}
.selected-card .track-tag-list {
  background: var(--color_accent_bright);
}
