.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 0;
  background: #efeae0;
  font-family: "Assistant", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.leaflet-div-icon {
  background: none;
  border: none;
}

.leaflet-tile-pane {
  opacity: 0.8;
  filter: grayscale(55%) brightness(110%) saturate(0.5);
}

.leaflet-control-container {
  display: none;
}

.location-console {
  z-index: 999999;
}

.btn-temp {
  z-index: 999;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 40px;
  height: 40px;
}
