.scan {
  position: absolute;
  width: 100%;
  height: calc(100% - 56px);
  background: var(--color_default_background);
  z-index: 10;
}

.close-btn {
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 20;
}
