.settings-button {
  /* Controls / Button / Default */

  /* Auto Layout */
  flex-direction: row;
  justify-content: center;
  padding: 5px 18px;

  width: 76px;
  height: 36px;

  /* color/grey/grey_3 */
  background: var(--color_default_btn);
  border-radius: 4px;

  /* PRESSED */

  position: static;
  left: 23.68%;
  right: 23.68%;
  top: 5px;
  bottom: 7px;

  /* Aassistent/utility/BUTTON 1/bold */
  font-family: Assistant;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  /* color/grey/color_default_btn_text */
  color: var(--color_default_btn_text);

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
  border: none;

  transform: translateX(20px);
}

.settings {
  position: absolute;
  width: 80%;
  background: rgba(255, 255, 255, 0.75);
  top: 45%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  padding: 0 0 10px 10px;
  border-radius: 10px;
}

.poi-display-switch {
  width: 100%;
  margin: 2px 0px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas: "toggle  label icon";
}

.poi-display-toggle {
  grid-area: toggle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poi-display-label {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: normal;
  grid-area: label;
  text-align: end;
  color: var(--color_default_text);
  font-size: var(--text_size_default_small);
}

.poi-display-icon {
  grid-area: icon;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poi-display-hr {
  border-top: 1px solid var(--color_default_frame);
  border-bottom: 1px solid var(--white);
  border-left: 0px solid var(--color_default_frame);
  border-right: 0px solid var(--white);

  margin-block-start: 0;
  margin-block-end: 0;
}
